.developments1 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    .fotos-movil {
        display: none;
    }


    .text-luxury {
        color: rgba(223, 153, 27, 1);
        font-family: PF Regal Display Pro;
        font-size: 40px;
        font-weight: 400;
        line-height: 45px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .text-developments {
        font-family: PF Regal Display Pro;
        font-size: 80px;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-top: 20px;
    }
}


.developments2 {
    display: grid;
    grid-template-columns: 407px 407px 407px 407px;
    gap: 20px;
    width: 100%;
    justify-self: center;
    padding: 60px;
    margin-left: 80px;

    #contenedor-foto {
        height: 420px;
    }
}


.foto {
    width: 407px;
    height: 407px;

}

.texto-fotos {
    /* position: absolute; */
    transform: translateY(-100%);
    background-color: white;
    width: 407px;
    height: 145px;
    /* position: relative; */
    padding: 30px;
}


#superior-text {
    color: rgba(70, 69, 71, 1);
    font-family: PF Regal Display Pro;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 323px;
    height: 27px;
    top: 2282px;
    left: 128px;
    gap: 0px;
    opacity: 0px;

}

#inferior-text {
    color: rgba(0, 0, 0, 1);
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 323px;
    height: 43px;
    top: 2309px;
    left: 128px;
    gap: 0px;
    opacity: 0px;
    margin-top: 20px;

}


#inferior-text-g {
    color: rgba(0, 0, 0, 1);
    font-family: PF Regal Display Pro;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -0.08lh;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 323px;
    height: 43px;
    top: 2309px;
    left: 972px;
    gap: 0px;
    opacity: 0px;
    margin-top: 20px;

}

.developments3 {
    display: grid;
    grid-template-columns: 407px 407px 407px 407px;
    gap: 20px;
    padding: 60px;
    width: 100%;
    margin-left: 80px;
    justify-self: center;

    .contenedor-foto {
        height: 420px;
    }


    #superior-text {
        color: rgba(70, 69, 71, 1);
        font-family: PF Regal Display Pro;
        font-size: 25px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 323px;
        height: 27px;
        top: 2282px;
        left: 128px;
        gap: 0px;
        opacity: 0px;
    }

    #inferior-text {
        color: rgba(0, 0, 0, 1);
        font-family: PF Regal Display Pro;
        font-size: 40px;
        font-weight: 500;
        line-height: 45px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 323px;
        height: 43px;
        top: 2309px;
        left: 128px;
        gap: 0px;
        opacity: 0px;
        margin-top: 20px;

    }
}

@media (min-width: 320px) and (max-width: 600px) {
    * {
        margin: auto;
        object-fit: cover;

    }

    .developments1 {
        .text-luxury {
            display: none;
        }

        .fotos-movil {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            /* margin: 30px; */
            width: 100%;
            object-fit: cover;

        }
    }

    .developments2 {

        display: grid;
        grid-template-columns: 1fr;



        .foto {
            display: none;
        }

        .texto-fotos {
            display: none;
        }

    }

    .developments3 {

        display: none;
        grid-template-columns: 1fr;


        .contenedor-foto {
            display: none;

            .foto {
                display: none;
            }

            .texto-fotos {
                display: none;
            }

        }


    }






}